@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/SFProText-Heavy.ttf) format("woff2");
  }
  @font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/SFProText-Bold.ttf) format("woff2");
  }
  @font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/SFProText-Medium.ttf) format("woff2");
  }
  @font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/SFProText-Regular.ttf) format("woff2");
  }
  @font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/SFProText-Light.ttf) format("woff2");
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: var(--color-alternative-pressed);
  border-radius: 6px;
}

::-webkit-scrollbar:hover {
  width: 0px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border: 0px solid transparent;
  background-color: rgba(72, 67, 91, 1);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(72, 67, 91, 0.6);
}
// ::-webkit-scrollbar-track {
//   background: var(--color-neutral-2);
// }

:root {
  --font-sf-pro: "SF Pro";
  --width-content-sidebar-layout: 1444px;
  --radius-rounded: 256px;

  --color-primary-main: #8f57ff;
  --color-primary-1: #3c256b;
  --color-primary-2: #4f308c;
  --color-primary-3: #663eb5;
  --color-primary-4: #824fe8;
  --color-primary-5: #a579ff;
  --color-primary-6: #b48eff;
  --color-primary-7: #cbb2ff;
  --color-primary-8: #dccbff;
  --color-primary-9: #f0f0ff;

  --color-error-main: #eb5146;
  --color-error-1: #8d0e0e;
  --color-error-2: #be211c;
  --color-error-3: #fda59b;
  --color-error-4: #fed9d5;
  --color-error-5: #fef3f2;

  --color-warning-main: #f08d14;
  --color-warning-1: #8b3603;
  --color-warning-2: #cc6f13;
  --color-warning-3: #ffc465;
  --color-warning-4: #ffe0a2;
  --color-warning-5: #fffae7;

  --color-success-main: #13c05d;
  --color-success-1: #036034;
  --color-success-2: #079047;
  --color-success-3: #4be18a;
  --color-success-4: #9ff9c1;
  --color-success-5: #e0ffeb;

  --color-neutral-black: #000000;
  --color-neutral-1: #010101;
  --color-neutral-2: #171717;
  --color-neutral-3: #242424;
  --color-neutral-4: #373738;
  --color-neutral-5: #474748;
  --color-neutral-6: #646464;
  --color-neutral-7: #787879;
  --color-neutral-8: #9f9fa2;
  --color-neutral-9: #e2e2e4;
  --color-neutral-10: #f0f0f2;
  --color-neutral-white: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: var(--color-neutral-5) !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes progress-notification {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

// HIDDEN SCROLLBAR TABLE ANTD
.ant-table-body {
  scrollbar-width: auto !important;
  scrollbar-color: auto !important;
}

.ant-table-body::-webkit-scrollbar {
  width: 0px !important;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 6px !important;
  background-color: transparent !important;
}

// HIDDEN SCROLLBAR TABLE ANTD
.ant-table-container {
  scrollbar-width: auto !important;
  scrollbar-color: auto !important;
}

.ant-table-container::-webkit-scrollbar {
  width: 0px !important;
}

.ant-table-container::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.ant-table-container::-webkit-scrollbar-thumb {
  border-radius: 6px !important;
  background-color: transparent !important;
}

// CSS Z-INDEX FOR BADGE ANTD IN NOTIFICATION
.ant-scroll-number {
  z-index: 9999 !important;
}

.truncate-1-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-2-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-3-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-4-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img.active-filter-icon {
  filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(11%)
    hue-rotate(217deg) brightness(105%) contrast(104%) !important;
}

img.filter-icon {
  img {
    filter: invert(49%) sepia(6%) saturate(49%) hue-rotate(201deg)
      brightness(95%) contrast(87%) !important;
  }
}

img.active-primary-icon {
  filter: invert(45%) sepia(84%) saturate(4485%) hue-rotate(240deg)
    brightness(100%) contrast(102%);
}

.how-it-work-bg {
  background-image: url(../../../public/assets/icons/bg-how-it-work.svg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40px;
}

* {
  font-family: var(--font-sf-pro);
}
