.app-button {
  border-radius: 8px;
}

.app-button.large {
  height: 48px !important;
}

.app-button.middle {
  height: 40px !important;
}

.app-button.small {
  height: 32px !important;
}

.app-button:hover {
  opacity: 0.8 !important;
}

.app-button.outline {
  color: #777e90 !important;
  outline: none !important;
  border: 1px solid #000000 !important;
  background: transparent !important;
}

.app-button.outline-primary {
  color: #ffffff !important;
  background-color: transparent !important;
  border: 2px solid #8f57ff !important;
  outline: none !important;
}

.app-button.primary {
  color: #ffffff !important;
  background-color: #8f57ff !important;
  border: 1px solid #8f57ff !important;
  outline: none !important;
}

.app-button.secondary {
  color: #ffffff !important;
  border: 1px solid #353945 !important;
  background-color: #353945 !important;
  outline: none !important;
}

.app-button:disabled {
  opacity: 0.4 !important;
  cursor: not-allowed !important;
}
