@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/variables.scss";

.app-input {
  border-radius: 8px;
  padding: 8px 12px 8px 16px;
  border: 2px solid $color-grey-7;
  background: transparent;
  color: $color-grey-6;

  &--secondary {
    background: rgba(35, 38, 47, 0.6);
  }

  &:hover,
  &:focus-within,
  &:focus {
    border-color: $color-grey-7;
    background: transparent;
    box-shadow: none;
    .ant-input-suffix {
      img {
        filter: brightness(0) saturate(100%) invert(33%) sepia(52%)
          saturate(2642%) hue-rotate(241deg) brightness(102%) contrast(101%);
      }
    }
  }

  input {
    &::placeholder {
      color: $color-grey-6;
      font-family: $font-family;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .ant-input-clear-icon {
    color: #23262f;
    &:hover {
      color: #23262f90;
    }
  }
}
