.app-pagination {
  padding: 0px 16px !important;
  margin: 12px 0px !important;
  width: 100%;
  display: flex !important;
  .ant-pagination-total-text {
    color: var(--color-text-secondary) !important;
  }
  .ant-pagination-item {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    line-height: unset !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    background-color: var(--color-bg-pagination-item) !important;
    border: 1px solid var(--color-stroke-disable) !important;
    a {
      color: var(--color-text-secondary) !important;
    }
  }

  .ant-pagination-item-active,
  .ant-pagination-item-active:focus,
  .ant-pagination-item-active:focus-within,
  .ant-pagination-item-active:hover {
    background-color: transparent !important;
    border-color: var(--color-text-primary-2) !important;
    font-weight: 400 !important;
    a {
      color: var(--color-text-primary-2) !important;
    }
  }

  .ant-pagination-item-link {
    color: var(--color-text-secondary) !important;
  }

  .ant-pagination-disabled {
    .ant-pagination-item-link {
      color: var(--color-text-secondary) !important;
      opacity: 0.3 !important;
    }
  }

  .ant-pagination-options-quick-jumper {
    color: var(--color-text-secondary) !important;
    input {
      text-align: center !important;
      border: 1px solid var(--color-stroke-disable) !important;
      background-color: var(--color-container-primary) !important;
      color: var(--color-text-primary-2) !important;
    }
  }

  .ant-pagination-options {
    display: flex !important;
    flex: 1 !important;
    justify-content: end !important;
    .ant-select-selector {
      border-color: var(--color-stroke-disable) !important;
      color: var(--color-text-primary-2) !important;
      background-color: var(--color-container-primary) !important;
      .ant-select-selection-item {
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }
    .ant-select-arrow {
      color: var(--color-text-secondary) !important;
    }
  }

  .ant-select-single.ant-select-open .ant-select-selection-item {
    color: var(--color-text-primary-2) !important;
    .ant-select-arrow {
      color: var(--color-text-secondary) !important;
    }
  }
  .ant-pagination-item-ellipsis {
    color: var(--color-pagination-ellipsis) !important;
  }
}
