.app-tabs.ant-tabs {
  .ant-tabs-tab {
    @apply text-[14px] lg:text-[18px] #{!important};
    line-height: 24px !important;
    font-weight: 700 !important;
    color: #777e90 !important;
  }

  .ant-tabs-tab + .ant-tabs-tab {
    @apply ml-4 lg:ml-8 #{!important};
  }
  .ant-tabs-tab.ant-tabs-tab-active {
    font-weight: 700 !important;
    .ant-tabs-tab-btn {
      color: #fff !important;
    }
  }
  .ant-tabs-tab-btn:active {
    color: #fff !important;
  }
  .ant-tabs-ink-bar {
    background: #fff !important;
    height: 3px !important;
    border-radius: 8px !important;
  }
  .ant-tabs-nav {
    &::before {
      border-bottom: 1px solid #23262f !important;
    }
  }
}
