@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/variables.scss";
@import "@/assets/scss/responsive.scss";

.app-layout {
  min-height: 100vh;
  overflow: hidden;
  .app-content {
    height: 100% !important;
  }
}

.main-layout {
  height: calc(100vh - 75px);
}

.app-content {
  background: $color-background-black;
  overflow: auto;
  padding: 24px;
  @include mobile {
    margin-top: 75px;
  }
}
