@import "@/assets/scss/_colors.scss";
@import "@/assets/scss/variables.scss";
@import "@/assets/scss/responsive.scss";

.app-header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0px;
  align-items: center;
  height: 75px;

  @include mobile {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  &__left {
    height: 100%;
    min-width: 220px;
    background: $color-background-black-1;
    border-bottom: 1px solid $color-grey-8;
    @include mobile {
      min-width: unset;
      padding-left: 15px;
      background: $color-background-black;
    }
  }

  &__right {
    width: 100%;
    height: 100%;
    padding-right: 40px;
    border-bottom: 1px solid $color-grey-8;
    background: $color-background-black;
    @include mobile {
      padding-right: 15px;
    }
    &__input {
      margin-left: auto;
      max-width: 256px;
    }

    .ant-dropdown-link {
      @include mobile {
        display: flex;
        align-items: center;
      }
    }
  }
}

.main-navbar-mobile {
  position: fixed;
  width: 100% !important;
  top: 75px !important;
  left: 0 !important;
  height: calc(100vh - 64px);
  padding: 20px;
  background-color: $color-background-black;
  z-index: 1001;
  overflow-y: scroll !important;
  padding-bottom: 200px;

  .ant-dropdown-menu {
    all: unset;
    li {
      margin-bottom: 25px !important;
      span {
        color: $color-grey-6;
        font-size: 16px;
        line-height: 32px;
      }
    }
  }
}

.navbar-menu-mobile {
  background: $color-background-black !important;
  padding: 0 !important;
  margin-top: 16px;
}
