.app-process.ant-progress-line {
  height: 6px !important;
  display: flex !important;
  align-items: center !important;
}
.process-double .ant-progress-inner {
  // background-color: transparent !important;
}
