.basic-upload {
  span.ant-upload {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-width: 200px;
    border-radius: 8px;
    border: 1px dashed var(--color-neutral-5);
    width: fit-content;
    background: transparent;
  }

  &__image-box {
    position: relative;
    img {
      pointer-events: none;
      width: auto !important;
      height: 100px !important;
      object-fit: cover;
    }
  }

  &__remove {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}
